@font-face {
  font-family: 'Noto Sans KR', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;900&display=swap');
}
@font-face {
  font-family: 'ELAND_Nice_M';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Nice_M.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  color: #595959;
  height: 100vh;
}

.section_title{
  overflow: auto;
  transform: translateX(-50%);
  left: 50%;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 8vh;
  font-weight: 700;
  color: #595959;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top:12vh;
}
.random-current-menu-image{
  position:fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 15vw;
  height: 15vw;
  margin-top:3vh;
}

